body {
    background-image: linear-gradient(orange, limegreen);
}

div {
    left: 450px;
    position: relative;
    margin-top: 200px;
    margin-bottom: 259px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 600px;
    height:280px;
    background-color: white;
}

