h1 {
    margin-left: 10px;
}


body {
    font-family: "Georgia", serif;
    text-align: center;
    position: relative;
    margin: auto;
    background-image: radial-gradient(red, blue);
}


.block {
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    width: 50px;
    height: 50px;
}
.block:hover {
    background-color: rgb(240, 240, 240);
}

.game_block {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 462px;
    margin-left: 530px;
}


.game_block1, .game_block2, .game_block3,
.game_block4, .game_block5, .game_block6,
.game_block7, .game_block8, .game_block9 {
    border: 2px solid black;
    width: 156px;
    height: 156px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    border-style: ridge;
}


input {
    text-align: center;
    width: 44px;
    height: 46px;
}

.toolbar1 {
    margin-top: 30px;
    border: 1px solid black;
    background-image: linear-gradient(orange, yellow);
    height: 83px;
}

.toolbar_buttons {
    border-radius: 10px;
    margin-top: 20px;
    height: 40px;
    width: 150px;
}

.toolbar_buttons:hover {
    background-color: rgb(240, 240, 240);
}


#new_board {
    margin-left: 20px;
}


#restart_game {
    margin-left: 20px;
}


#check_for_win {
    margin-left: 20px;
}


#start_screen1 {
    margin-left: 20px;
}


.number_options {
    background-color: black;
    border: 2px solid black;
    width: 430px;
    margin-left: 550px;
}


tr, td {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
}


td:hover {
    background-color: rgb(240, 240, 240);
}


.numbers_left {
    float: right;
    margin-right: 400px;
    font-size: 30px;
    margin-top: 60px;
}


.win_block {
    border: 4px solid black;
    background-color: white;
    width: 462px;
    height: 472px;
    margin-left: 530px;
}

.toolbar2 {
    margin-top: 30px;
    border: 1px solid black;
    background-image: linear-gradient(orange, yellow);
    height: 136px;
}

#start_screen2 {
    height: 80px;
    margin-top: 30px;
}

#win_message {
    display: flex;
    margin-top: 200px;
    margin-left: 115px;
    font-size: 50px;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: transparent;
}